h1 {
    Font-size: 20px;
    background-color: black; text-align: center;
    color: white;
}

h2,h3,h4  {  Font-family: "Times New Roman",Times;
    background-color: black; text-align: center;
    color: white; 
}

ul {color:aqua;}

a {color:green;}

body{background-color: #D4A190;}
p{text-indent: 30px; 
    
}

